<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 🌮El Buen Taco</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/El_Buen_Taco.styles.css" asp-append-version="true" />
</head>
<body class="@(ViewData["FullWidth"] ?? "")">
    @{
        var IdUsuario = Context.Session.GetString("IdUsuario");
        var Rol = Context.Session.GetString("UserRol");
    }
    @if(Rol == null)
    {
        
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    @switch (Rol)
                    {
                        case "CLIENTE":
                            {
                                <a class="navbar-brand" asp-area="" asp-controller="Cliente" asp-action="Index">Mis Pedidos</a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="HacerPedido">Hacer pedido</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            break;
                        case "ADMIN":
                            {
                                <a class="navbar-brand" asp-area="" asp-controller="Administrador" asp-action="Index">Pedidos De Hoy</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Clientes">Clientes</a>
                                </li>
                                <li class="nav-link text-black">
                                            <a class="nav-link text-black" asp-area="" asp-controller="Administrador" asp-action="Pedidos">Pedidos Globales</a>
                                </li>
                            </ul>
                        </div>
                              
                            }
                            break;
                    }
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
